
extends ../layouts/default

block main
    

block content
    .row
        .col-md-3
            include ../utils/dashNavs
            
        .col-md-9
            .col-md-12.column
                .page-header
                    h1= title
            include ../utils/dashProfile