body {
	background-color: #f5f7fa;
}

.hebi-table-unbordered td {
	border: 0px !important;
}

/* Small devices (tablets, 768px and up) */
/* this is for the navbar to show search bar properly */
@media (min-width: 768px) { #search input { width: 350px; }}

/* my custom padding and margin to reduce some code */
/*padding 10*/
.pd-l-10 {
	padding-left: 10px;
}
.pd-r-10 {
	padding-right: 10px;
}
.pd-t-10 {
	padding-top: 10px;
}
.pd-b-10 {
	padding-bottom: 10px;
}
.pd-10 {
	padding: 10px;
}
/* padding 20 */
.pd-l-20 {
	padding-left: 20px;
}
.pd-r-20 {
padding-right: 20px;
}
.pd-t-20 {
	padding-top: 20px;
}
.pd-b-20 {
	padding-bottom: 20px;
}
.pd-20 {
	padding: 20px;
}
/* margin 10 */
.mg-l-10 {
	margin-left: 10px !important;
}
.mg-r-10 {
margin-right: 10px;
}
.mg-t-10 {
	margin-top: 10px;
}
.mg-b-10 {
	margin-bottom: 10px;
}
.mg-10 {
	margin: 10px;
}
/* margin 20 */
.mg-l-20 {
	margin-left: 20px;
}
.mg-r-20 {
margin-right: 20px;
}
.mg-t-20 {
	margin-top: 20px;
}
.mg-b-20 {
	margin-bottom: 20px;
}
.mg-20 {
	margin: 20px;
}
/* margin 0 */
.mg-b-0 {
	margin-bottom: 0px;
}
/*background*/
.bg-white {
	background-color: white;
}

.icon-bar{background-color:#563d7c} /* diao */


.nav li.disabled a, .nav li.disabled a:hover {
	cursor: default;
	color: black;
	border: 0;
}

.hebi-block-main {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

.hebi-block-nav {
	background-color: white;
	margin-bottom: 20px;
	margin-right: 20px;
}

#area-panel ul {
	margin-bottom: 0px;
	padding: 0px 15px;
}

/*
#welcome-info {
	background-color: white;
	padding: 10px;
}
*/

#welcome-info img {
	width: 80px;
	height: 80px;
}

#welcome-info div:last-child div:last-child {
	border-top: 1px solid #ededed;
	padding-top: 3px;
}

#welcome-info h3 {
	margin: 10px 0;
}

/*
#current-order {
	margin-top: 20px;
	background-color: white;
	padding: 10px;
}
*/

/*
#recom {
	margin-top: 20px;
	background-color: white;
	padding: 10px;
}
*/

#step-bar {
	text-align: center;
}
.step {
	display: inline-block;
	text-align: center;
}

.step-first div:first-child {
	border: 0px;
}
.step-last div:nth-child(3) {
	border: 0px;
}

.step-circle {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background-color: gray;
	border-radius: 15px;
}

.step-line {
	display: inline-block;
	vertical-align: middle;
	border-top: 3px solid gray;
	width: 60px;
}

.step-done div, .step-now div:nth-child(1), .step-now div:nth-child(2) {
	background-color: #99cc33;
	border-color: #99cc33;
}

/*for editor*/
#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate;
	border: 1px solid rgb(204, 204, 204);
	padding: 4px;
	box-sizing: content-box;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

div[data-role="editor-toolbar"] {
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

#editor img {
	max-height: 200px;
}

/*make file input nicer*/
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
