// views/utils/area.jade

div.panel-group#area-panel
    div.panel.panel-default
        div.panel-heading
            ul.breadcrumb.panel-heading
                li
                    a(href='#') 安徽
                li
                    a(href='#') 合肥
                li
                    a(href='#') 蜀山区
                li.active
                    a(href='#') 中科大
                li.navbar-right
                    a.panel-title.collapsed(data-toggle='collapse' href='#select-city') 展开
        div.panel-collapse.collapse#select-city
            div.panel-body
                三里庵 国购 万达广场