.row.myblock
    ul.nav.nav-tabs.nav-stacked
        li.disabled
            a 订单中心
        li
            a(href='#') 当前订单
        li
            a(href='#') 待确认订单
        li
            a(href='#') 待评价订单
        li
            a(href='#') 过往订单
.row
    ul.nav.nav-tabs.nav-stacked
        li.disabled
            a 个人中心
        li
            a(href='#') 常用地址
        li
            a(href='#') 信息更新
        li
            a(href='#') 密码修改
        li
            a(href='#') 我的收藏夹
        li
            a(href='#') 我的优惠券
.row
    ul.nav.nav-tabs.nav-stacked
        li.disabled
            a 另一个面板
        li
            a(href='#') 待定
        li
            a(href='#') 待定
        li
            a(href='#') 待定
        li
            a(href='#') 待定