.row
    ul.nav.nav-tabs.nav-stacked.hebi-block-nav
        li.disabled
            a 订单管理
        li
            a(href='#') 当前订单
        li
            a(href='#') 待确认订单
        li
            a(href='#') 待评价订单
        li
            a(href='#') 过往订单

.row
    ul.nav.nav-tabs.nav-stacked.hebi-block-nav
        li.disabled
            a 车辆管理
        li
            a(href='/cars/new') 添加新车
        li
            a(href='#') 车辆列表
        li
            a(href='#') 待定
        li
            a(href='#') 待定
            
            
.row.myblock
    ul.nav.nav-tabs.nav-stacked.hebi-block-nav
        li.disabled
            a 个人中心
        li
            a(href='#') 常用地址
        li
            a(href='/sellers/'+user._id+'/edit') 信息更新
        li
            a(href='/sellers/'+user._id+'/password') 密码修改

