// views/users/show.jade


extends ../layouts/default

//block main
    h1= user.name

block content
    .container
        .row
            .col-md-3
                include ../utils/centerNavs
            .col-md-9
                include ../utils/centerWelInfo
                - each order in user.orders
                    include ../utils/centerOrder
                include ../utils/centerRecom