extend ../layouts/default

block main
  .page-header
    h1 编辑汽车图文详情

block content
  .btn-toolbar(data-role='editor-toolbar', data-target='#editor')
    .btn-group
      a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', title='Font')
        i.fa.fa-font
        b.caret
      ul.dropdown-menu
    .btn-group
      a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', title='Font Size')
        i.fa.fa-text-height
        &nbsp;
        b.caret
      ul.dropdown-menu
        li
          a(data-edit='fontSize 5')
            font(size='5') Huge
        li
          a(data-edit='fontSize 3')
            font(size='3') Normal
        li
          a(data-edit='fontSize 1')
            font(size='1') Small
    .btn-group
      a.btn.btn-default(data-edit='bold', title='Bold (Ctrl/Cmd+B)')
        i.fa.fa-bold
      a.btn.btn-default(data-edit='italic', title='Italic (Ctrl/Cmd+I)')
        i.fa.fa-italic
      a.btn.btn-default(data-edit='strikethrough', title='Strikethrough')
        i.fa.fa-strikethrough
      a.btn.btn-default(data-edit='underline', title='Underline (Ctrl/Cmd+U)')
        i.fa.fa-underline
    .btn-group
      a.btn.btn-default(data-edit='insertunorderedlist', title='Bullet list')
        i.fa.fa-list-ul
      a.btn.btn-default(data-edit='insertorderedlist', title='Number list')
        i.fa.fa-list-ol
      a.btn.btn-default(data-edit='outdent', title='Reduce indent (Shift+Tab)')
        i.fa.fa-indent
      a.btn.btn-default(data-edit='indent', title='Indent (Tab)')
        i.fa.fa-outdent
    .btn-group
      a.btn.btn-default(data-edit='justifyleft', title='Align Left (Ctrl/Cmd+L)')
        i.fa.fa-align-left
      a.btn.btn-default(data-edit='justifycenter', title='Center (Ctrl/Cmd+E)')
        i.fa.fa-align-center
      a.btn.btn-default(data-edit='justifyright', title='Align Right (Ctrl/Cmd+R)')
        i.fa.fa-align-right
      a.btn.btn-default(data-edit='justifyfull', title='Justify (Ctrl/Cmd+J)')
        i.fa.fa-align-justify
    .btn-group
      a.btn.btn-default.dropdown-toggle(data-toggle='dropdown', title='Hyperlink')
        i.fa.fa-link
      .dropdown-menu.input-append
        input.span2(placeholder='URL', type='text', data-edit='createLink')
        button.btn.btn-default(type='button') Add
      a.btn.btn-default(data-edit='unlink', title='Remove Hyperlink')
        i.fa.fa-cut
    .btn-group
      a.btn.btn-default(title='Insert picture (or just drag & drop)', id='pictureBtn')
        i.fa.fa-picture-o
      input(type='file', data-role='magic-overlay', data-target='#pictureBtn', data-edit='insertImage')
    .btn-group
      a.btn.btn-default(data-edit='undo', title='Undo (Ctrl/Cmd+Z)')
        i.fa.fa-undo
      a.btn.btn-default(data-edit='redo', title='Redo (Ctrl/Cmd+Y)')
        i.fa.fa-repeat
  #editor

block foot
  script(src='/js/jquery.hotkeys.js')
  script(src='/js/bootstrap-wysiwyg.js')
  script(src='/js/editor.js')
