// @file views/cars/index.jade

extends ../layouts/default

block content
  .main.index
    section.area
      include _utils/area.jade
    section.sort
      include _utils/sort.jade

    section.items
      - for (var i=0; i<cars.length; i++)
        - var car = cars[i]
        include _utils/item.jade
      - if (pages>1)
        nav
          ul.pagination
            != createPagination(pages, page)
