header.navbar.navbar-static-top.bs-docs-nav.navbar-inverse#top(role='banner')
    div.container
        div.navbar-header.pd-r-20
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') zuchefeng
        nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
            form.navbar-form.navbar-left#search(role='search')
                div.form-group
                    input.form-control(type='text', placeholder='Search Text or Command')
                button.btn.btn-default.sr-only(type='submit') submit
            ul.nav.navbar-nav.navbar-right
                - if (req.isAuthenticated())
                    - if (req.user.type == 'Seller')
                        - var url = '/sellers/'+req.user._id+'/dashboard'
                    - else
                        - var url = '/users/'+req.user._id
                    li
                        a(href=url, title="Profile") #{req.user.name} 的个人中心
                    li
                        a(href="/logout", title="logout") 退出
                - else
                    //TODO how does isActive work
                    li(class=isActive('/login') ? 'active' : '')
                        a(href="/login", title="Login") 登录
                    li(class=isActive('/signup') ? 'active' : '')
                        a(href='/signup', title='注册') 注册
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') 帮助
                        strong.caret
                    ul.dropdown-menu
                        li
                            a(href='#') 租车流程
                        li
                            a(href='#') 常见问起FAQ
                        li.divider
                        li
                            a(href='#') 关于我们
