extends ../layouts/default

block content
  .main.dashboard
    section.sidebar
      include _utils/navs
    .content
      section.welcome
        include _utils/welcome
      section.cars
        - each car in user.cars
          include ..cars/_utils/item
