// views/sellers/show.jade


extends ../layouts/default

block main
    .col-md-12.column
        .page-header
            h1 #{user.company.name} 的公司主页
                small= user.company.subname

block content
    include ../utils/sellerInfo
    .col-md-10
        - if (user.cars.length)
            p 当前车辆
            - each car in user.cars
                p= car