//
// @file views/car/form.jade
//
extends ../layouts/default

block main
    .col-md-12.column
        .page-header
            h1= title

block content

  .modal.fade#brand-modal(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
              .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                  h4.modal-title#myModalLabel 选择品牌
              .modal-body
                include utils/brands
              .modal-footer

    - var action = '/cars' + (car.isNew ? '' : '/'+car._id) //TODO ?

    .row
        .col-md-8
            form.form-horizontal(method='post', action=action, enctype='multipart/form-data', role='form')
                input(type='hidden', name='_csrf', value='#{csrf_token}')

                - if (!car.isNew)
                    //TODO how does this work
                    input(type='hidden', name='_method', value='PUT')

                - var formParam = { name: 'name', value: car.name, holder: '请输入标题', label: '标题'}
                include ../utils/formGroup

                .form-group
                  label.col-sm-2.control-label(for='brand') 品牌
                  .col-sm-10
                    .input-group
                      input.form-control#brand(name='brand', type='text')
                      span.input-group-btn
                        button.btn.btn-primary(type='button', data-toggle='modal' href='#brand-modal') 选择


                - var formParam = { name: 'price', value: car.price, holder: '请输入价格', label: '价格'}
                include ../utils/formGroup
                - var formParam = { name: 'number', value: car.number, holder: '请输入车牌号', label: '车牌号'}
                include ../utils/formGroup
                - var formParam = { name: 'image', type: 'file', label: '图片'}
                include ../utils/formGroup

                .form-group
                    label.col-sm-2.control-label(for='desc') 描述
                    .col-sm-10
                        textarea.form-control#desc(rows='5', name='desc', placeholder='请输入车辆描述')= car.desc

                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-primary(type='submit') 保存
                        &nbsp;
                        a.btn.btn-danger(href='/cars', title='取消') 取消
