//
// @file views/users/login.jade
//

extends ../layouts/default

block main
  center
    h1= title

block content
  .main
    form.form-horizontal(action='/users/session', method='post', role='form')
      input(type='hidden', name='_csrf', value='#{csrf_token}')
      p.col-sm-offset-2.error= message
      .form-group
        label.col-sm-2.control-label(for='email') 邮箱
        .col-sm-10
          input#email.form-control(type='email', placeholder='Email', name='email')

      .form-group
        label.col-sm-2.control-label(for='password') 密码
        .col-sm-10
          input#password.form-control(type='password', placeholder='Password', name='password')

      .form-group
        .col-sm-offset-2.col-sm-4
          button.btn.btn-primary(type='submit') 登录
          &nbsp; or &nbsp;
          a.show-signup(href='/signup') 注册
        .col-sm-offset-4.col-sm-2
          p 公司用户？点击
            a(href='/sellers/login') 这里登录
